@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'); 

* {
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3); 
    }
    100%{
        transform: scale(1); 
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: 'Poppins', serif;
    font-weight: 200; 
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p{
    font-family: 'Poppins', serif;
    color: #fff;
    font-size: 2rem;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button{
    font-family: 'Poppins', serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem; 
    background: #00b4db; 
    background: -webkit-linear-gradient(to right, #00b4db, #0083b0); 
    background: linear-gradient(to left, #00b4db, #0083b0);
    padding: 1rem 3rem;
    border: none;
    border-radius: 20px;
    cursor: pointer; 
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover{
    opacity: 0.9;
}

@keyframes moveBanner{
    0% {
        transform: translateY(10rem) rotateY(-30deg); 
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1; 
    }
}
